<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.business.dao.TCustomerMapper">

    <sql id="BaseColumnList">
    pk_customer_id,
    customer_name,
    customer_contact,
    customer_source,
    customer_company,
    customer_post,
    customer_character,
    customer_profile,
    create_date
    create_user_id,
    last_modify_user_id,
    last_modify_date,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.business.entity.TCustomer" parameterType="com.hjy.business.entity.TCustomer">
        select tc.*,ts1.full_name as createUseFullName,ts2.full_name as lastModifyUserFullName from t_customer tc
        left join t_sys_user ts1 on tc.create_user_id=ts1.pk_user_id
        left join t_sys_user ts2 on tc.last_modify_user_id=ts2.pk_user_id
        where tc.pk_customer_id = #{pkCustomerId,jdbcType=VARCHAR}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllByEntity" resultType="com.hjy.business.entity.TCustomer"
            parameterType="com.hjy.business.entity.TCustomer">
        select * from t_customer
        <where>
            <if test="pkCustomerId != null and pkCustomerId != ''">
                and pk_customer_id = #{pkCustomerId,jdbcType=VARCHAR}
            </if>
            <if test="customerName != null and customerName != ''">
                and customer_name = #{customerName,jdbcType=VARCHAR}
            </if>
            <if test="customerContact != null and customerContact != ''">
                and customer_contact = #{customerContact,jdbcType=VARCHAR}
            </if>
            <if test="customerSource != null and customerSource != ''">
                and customer_source = #{customerSource,jdbcType=VARCHAR}
            </if>
            <if test="customerCompany != null and customerCompany != ''">
                and customer_company = #{customerCompany,jdbcType=VARCHAR}
            </if>
            <if test="customerPost != null and customerPost != ''">
                and customer_post = #{customerPost,jdbcType=VARCHAR}
            </if>
            <if test="customerCharacter != null and customerCharacter != ''">
                and customer_character = #{customerCharacter,jdbcType=VARCHAR}
            </if>
            <if test="customerProfile != null and customerProfile != ''">
                and customer_profile = #{customerProfile,jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null and createUserId != ''">
                and create_user_id = #{createUserId,jdbcType=VARCHAR}
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                and last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertSelective" parameterType="com.hjy.business.entity.TCustomer">
        insert into t_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkCustomerId != null and pkCustomerId != ''">
                pk_customer_id,
            </if>
            <if test="customerName != null and customerName != ''">
                customer_name,
            </if>
            <if test="customerContact != null and customerContact != ''">
                customer_contact,
            </if>
            <if test="customerSource != null and customerSource != ''">
                customer_source,
            </if>
            <if test="customerCompany != null and customerCompany != ''">
                customer_company,
            </if>
            <if test="customerPost != null and customerPost != ''">
                customer_post,
            </if>
            <if test="customerCharacter != null and customerCharacter != ''">
                customer_character,
            </if>
            <if test="customerProfile != null and customerProfile != ''">
                customer_profile,
            </if>
            <if test="createDate != null ">
                create_date,
            </if>
            <if test="createUserId != null and createUserId != ''">
                create_user_id,
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                last_modify_user_id,
            </if>
            <if test="lastModifyDate != null">
                last_modify_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkCustomerId != null and pkCustomerId != ''">
                #{pkCustomerId,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null and customerName != ''">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerContact != null and customerContact != ''">
                #{customerContact,jdbcType=VARCHAR},
            </if>
            <if test="customerSource != null and customerSource != ''">
                #{customerSource,jdbcType=VARCHAR},
            </if>
            <if test="customerCompany != null and customerCompany != ''">
                #{customerCompany,jdbcType=VARCHAR},
            </if>
            <if test="customerPost != null and customerPost != ''">
                #{customerPost,jdbcType=VARCHAR},
            </if>
            <if test="customerCharacter != null and customerCharacter != ''">
                #{customerCharacter,jdbcType=VARCHAR},
            </if>
            <if test="customerProfile != null and customerProfile != ''">
                #{customerProfile,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null and createUserId != ''">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                #{lastModifyDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.business.entity.TCustomer">
        update t_customer
        <set>
            <if test="customerName != null and customerName != ''">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerContact != null and customerContact != ''">
                customer_contact = #{customerContact,jdbcType=VARCHAR},
            </if>
            <if test="customerSource != null and customerSource != ''">
                customer_source = #{customerSource,jdbcType=VARCHAR},
            </if>
            <if test="customerCompany != null and customerCompany != ''">
                customer_company = #{customerCompany,jdbcType=VARCHAR},
            </if>
            <if test="customerPost != null and customerPost != ''">
                customer_post = #{customerPost,jdbcType=VARCHAR},
            </if>
            <if test="customerCharacter != null and customerCharacter !='' ">
                customer_character = #{customerCharacter,jdbcType=VARCHAR},
            </if>
            <if test="customerProfile != null and customerProfile !='' ">
                customer_profile = #{customerProfile,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where pk_customer_id = #{pkCustomerId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="com.hjy.business.entity.TCustomer">
        delete from t_customer where pk_customer_id = #{pkCustomerId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectAllPage" resultType="com.hjy.business.entity.TCustomer">
        select tc.*,ts1.full_name as createUseFullName,ts2.full_name as lastModifyUserFullName from t_customer tc
        left join t_sys_user ts1 on tc.create_user_id=ts1.pk_user_id
        left join t_sys_user ts2 on tc.last_modify_user_id=ts2.pk_user_id
        <where>
        <if test="customerName != null and customerName != ''">
            and tc.customer_name like '%${customerName}%'
        </if>
        <if test="customerContact != null and customerContact != ''">
            and tc.customer_contact like '%${customerContact}%'
        </if>
        </where>
        order by tc.last_modify_date desc
    </select>
</mapper>