<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.business.dao.TNewsMapper">

    <sql id="BaseColumnList">
    pk_news_id,
    news_title,
    news_content,
    news_cover,
    news_status,
    news_type,
    create_date,
    create_user_id,
    last_modify_user_id,
    last_modify_date,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.business.entity.TNews" parameterType="com.hjy.business.entity.TNews">
        select * from t_news where pk_news_id = #{pkNewsId,jdbcType=VARCHAR}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllByEntity" resultType="com.hjy.business.entity.TNews"
            parameterType="com.hjy.business.entity.TNews">
        select * from t_News
        <where>
            <if test="pkNewsId != null and pkNewsId != ''">
                and pk_news_id = #{pkNewsId,jdbcType=INTEGER}
            </if>
            <if test="newsTitle != null and newsTitle != ''">
                and news_title = #{newsTitle,jdbcType=VARCHAR}
            </if>
            <if test="newsContent != null and newsContent != ''">
                and news_content = #{newsContent,jdbcType=VARCHAR}
            </if>
            <if test="newsCover != null and newsCover != ''">
                and news_cover = #{newsCover,jdbcType=VARCHAR}
            </if>
            <if test="newsStatus != null and newsStatus != ''">
                and news_status = #{newsStatus,jdbcType=TINYINT}
            </if>
            <if test="newsType != null and newsType != ''">
                and news_type = #{newsType,jdbcType=TINYINT}
            </if>
            <if test="createUserId != null and createUserId != ''">
                and create_user_id = #{createUserId,jdbcType=VARCHAR}
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                and last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR}
            </if>
            <if test="lastModifyDate != null">
                and last_modify_date = #{lastModifyDate,jdbcType=DATE}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertSelective" parameterType="com.hjy.business.entity.TNews">
        insert into t_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkNewsId != null and pkNewsId != ''">
                pk_news_id,
            </if>
            <if test="newsTitle != null and newsTitle != ''">
                news_title,
            </if>
            <if test="newsContent != null and newsContent != ''">
                news_content,
            </if>
            <if test="newsCover != null and newsCover != ''">
                news_cover,
            </if>
            <if test="newsStatus != null and newsStatus != ''">
                news_status,
            </if>
            <if test="newsType != null and newsType != ''">
                news_type,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUserId != null and createUserId != ''">
                create_user_id,
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                last_modify_user_id,
            </if>
            <if test="lastModifyDate != null">
                last_modify_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkNewsId != null and pkNewsId != ''">
                #{pkNewsId,jdbcType=VARCHAR},
            </if>
            <if test="newsTitle != null and newsTitle != ''">
                #{newsTitle,jdbcType=VARCHAR},
            </if>
            <if test="newsContent != null and newsContent != ''">
                #{newsContent,jdbcType=VARCHAR},
            </if>
            <if test="newsCover != null and newsCover != ''">
                #{newsCover,jdbcType=VARCHAR},
            </if>
            <if test="newsStatus != null and newsStatus != ''">
                #{newsStatus,jdbcType=VARCHAR},
            </if>
            <if test="newsType != null and newsType != ''">
                #{newsType,jdbcType=TINYINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="createUserId != null and createUserId != ''">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                #{lastModifyDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.business.entity.TNews">
        update t_news
        <set>
            <if test="newsTitle != null and newsTitle != ''">
                 news_title = #{newsTitle,jdbcType=VARCHAR},
            </if>
            <if test="newsContent != null and newsContent != ''">
                 news_content = #{newsContent,jdbcType=VARCHAR},
            </if>
            <if test="newsCover != null and newsCover != ''">
                 news_cover = #{newsCover,jdbcType=VARCHAR},
            </if>
            <if test="newsStatus != null and newsStatus != ''">
                 news_status = #{newsStatus,jdbcType=TINYINT},
            </if>
            <if test="newsType != null and newsType != ''">
                 news_type = #{newsType,jdbcType=TINYINT},
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                 last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                 last_modify_date = #{lastModifyDate,jdbcType=DATE},
            </if>
        </set>
        where pk_news_id = #{pkNewsId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="com.hjy.business.entity.TNews">
        delete from t_news where pk_news_id = #{pkNewsId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectAllPage" resultType="com.hjy.business.entity.TNews">
        select * from t_news
        <where>
        <if test="newsTitle != null and newsTitle != ''">
            and news_title like '%${newsTitle}%'
        </if>
        <if test="newsStatus != null and newsStatus != ''">
            and news_status = #{newsStatus,jdbcType=TINYINT}
        </if>
        <if test="newsType != null and newsType != ''">
            and news_type = #{newsType,jdbcType=TINYINT}
        </if>
        </where>
    </select>
</mapper>