<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.business.dao.TRecruitMapper">

    <sql id="BaseColumnList">
    pk_recruit_id,
    recruit_position,
    recruit_requirement,
    recruit_salary_range,
    recruit_number,
    recruit_status,
    recruit_sort,
    create_date,
    create_user_id,
    last_modify_user_id,
    last_modify_date,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.business.entity.TRecruit" parameterType="com.hjy.business.entity.TRecruit">
        select tb.*,ts1.full_name as createUseFullName,ts2.full_name as lastModifyUserFullName from t_recruit tb
        left join t_sys_user ts1 on tb.create_user_id=ts1.pk_user_id
        left join t_sys_user ts2 on tb.last_modify_user_id=ts2.pk_user_id
        where tb.pk_recruit_id = #{pkRecruitId,jdbcType=VARCHAR}
    </select>

    <!--新增所有列-->
    <insert id="insertSelective" parameterType="com.hjy.business.entity.TRecruit">
        insert into t_recruit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkRecruitId != null and pkRecruitId != ''">
                pk_Recruit_id,
            </if>
            <if test="recruitPosition != null and recruitPosition != ''">
                recruit_position,
            </if>
            <if test="recruitRequirement != null and recruitRequirement != ''">
                recruit_requirement,
            </if>
            <if test="recruitSalaryRange != null and recruitSalaryRange != ''">
                recruit_salary_range,
            </if>
            <if test="recruitNumber != null and recruitNumber != ''">
                recruit_number,
            </if>
            <if test="recruitStatus != null ">
                recruit_status,
            </if>
            <if test="recruitSort != null ">
                recruit_sort,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUserId != null and createUserId != ''">
                create_user_id,
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                last_modify_user_id,
            </if>
            <if test="lastModifyDate != null">
                last_modify_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkRecruitId != null and pkRecruitId != ''">
                #{pkRecruitId,jdbcType=VARCHAR},
            </if>
            <if test="recruitPosition != null and recruitPosition != ''">
                #{recruitPosition,jdbcType=VARCHAR},
            </if>
            <if test="recruitRequirement != null and recruitRequirement != ''">
                #{recruitRequirement,jdbcType=VARCHAR},
            </if>
            <if test="recruitSalaryRange != null and recruitSalaryRange != ''">
                #{recruitSalaryRange,jdbcType=VARCHAR},
            </if>
            <if test="recruitNumber != null and recruitNumber != ''">
                #{recruitNumber,jdbcType=INTEGER},
            </if>
            <if test="recruitStatus != null ">
                #{recruitStatus,jdbcType=TINYINT},
            </if>
            <if test="recruitSort != null ">
                #{recruitSort,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null and createUserId != ''">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                #{lastModifyDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.business.entity.TRecruit">
        update t_recruit
        <set>
            <if test="recruitPosition != null and recruitPosition != ''">
                recruit_position = #{recruitPosition,jdbcType=VARCHAR},
            </if>
            <if test="recruitRequirement != null and recruitRequirement != ''">
                recruit_requirement = #{recruitRequirement,jdbcType=VARCHAR},
            </if>
            <if test="recruitSalaryRange != null and recruitSalaryRange != ''">
                recruit_salary_range = #{recruitSalaryRange,jdbcType=VARCHAR},
            </if>
            <if test="recruitNumber != null and recruitNumber != ''">
                recruit_number = #{recruitNumber,jdbcType=INTEGER},
            </if>
            <if test="recruitStatus != null and recruitStatus !='' ">
                recruit_status = #{recruitStatus,jdbcType=TINYINT},
            </if>
            <if test="recruitSort != null and recruitSort !='' ">
                recruit_sort = #{recruitSort,jdbcType=INTEGER},
            </if>
            <if test="lastModifyUserId != null and lastModifyUserId != ''">
                last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyDate != null">
                last_modify_date = #{lastModifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where pk_recruit_id = #{pkRecruitId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="com.hjy.business.entity.TRecruit">
        delete from t_recruit where pk_recruit_id = #{pkRecruitId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectAllPage" resultType="com.hjy.business.entity.TRecruit">
        select tb.*,ts1.full_name as createUseFullName,ts2.full_name as lastModifyUserFullName from t_recruit tb
        left join t_sys_user ts1 on tb.create_user_id=ts1.pk_user_id
        left join t_sys_user ts2 on tb.last_modify_user_id=ts2.pk_user_id
        <where>
        <if test="recruitPosition != null and recruitPosition != ''">
            and tb.recruit_position like '%${recruitPosition}%'
        </if>
        <if test="recruitStatus != null and recruitStatus != ''">
            and tb.recruit_status = #{recruitStatus,jdbcType=TINYINT}
        </if>
        </where>
        order by tb.recruit_sort desc
    </select>
</mapper>