<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.system.dao.TSysUserMapper">

    <sql id="BaseColumnList">
    pk_user_id,
    username,
    password,
    last_login_date,
    fk_dept_id,
    email,
    tel,
    enable_status,
    create_time,
    IDcard,
    modify_time,
    full_name,
    address,
    work_position,
    work_content,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.system.entity.TSysUser" parameterType="com.hjy.system.entity.TSysUser">
        select * from t_sys_user where "pk_user_id" = #{pkUserId,jdbcType=VARCHAR}
    </select>
    <!--No problem 分页时查询总记录条数-->
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultType="com.hjy.system.entity.TSysUser">
        select * from t_sys_user
        where 1=1
        <if test="idcard != null">
            and idcard like '%${idcard}%'
        </if>
        <if test="fullName != null">
            and full_name like '%${fullName}%'
        </if>
        <if test="workPosition != null">
            and work_position like '%${workPosition}%'
        </if>
    </select>
    <!--新增所有列-->
    <insert id="insertSelective" parameterType="com.hjy.system.entity.TSysUser">
        insert into "hjy_website"."t_sys_user"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                "username",
            </if>
            <if test="password != null and password != ''">
                "password",
            </if>
            <if test="lastLoginDate != null">
                "last_login_date",
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                "fk_dept_id",
            </if>
            <if test="email != null and email != ''">
                "email",
            </if>
            <if test="tel != null and tel != ''">
                "tel",
            </if>
            <if test="enableStatus != null and enableStatus != ''">
                "enable_status",
            </if>
            <if test="createTime != null">
                "create_time",
            </if>
            <if test="idcard != null and idcard != ''">
                "IDcard",
            </if>
            <if test="modifyTime != null">
                "modify_time",
            </if>
            <if test="fullName != null and fullName != ''">
                "full_name",
            </if>
            <if test="address != null and address != ''">
                "address",
            </if>
            <if test="workPosition != null and workPosition != ''">
                "work_position",
            </if>
            <if test="workContent != null and workContent != ''">
                "work_content",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginDate != null">
                #{lastLoginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                #{fkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="tel != null and tel != ''">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="enableStatus != null and enableStatus != ''">
                #{enableStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="idcard != null and idcard != ''">
                #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fullName != null and fullName != ''">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="workPosition != null and workPosition != ''">
                #{workPosition,jdbcType=VARCHAR},
            </if>
            <if test="workContent != null and workContent != ''">
                #{workContent,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.system.entity.TSysUser">
        update "hjy_website"."t_sys_user"
        <set>
            <if test="username != null and username != ''">
                "username" = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                "password" = #{password,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginDate != null">
                "last_login_date" = #{lastLoginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                "fk_dept_id" = #{fkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                "email" = #{email,jdbcType=VARCHAR},
            </if>
            <if test="tel != null and tel != ''">
                "tel" = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="enableStatus != null and enableStatus != ''">
                "enable_status" = #{enableStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                "create_time" = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="idcard != null and idcard != ''">
                "IDcard" = #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                "modify_time" = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fullName != null and fullName != ''">
                "full_name" = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                "address" = #{address,jdbcType=VARCHAR},
            </if>
            <if test="workPosition != null and workPosition != ''">
                "work_position" = #{workPosition,jdbcType=VARCHAR},
            </if>
            <if test="workContent != null and workContent != ''">
                "work_content" = #{workContent,jdbcType=VARCHAR},
            </if>
        </set>
        where "pk_user_id" = #{pkUserId,jdbcType=VARCHAR}
    </update>

    <!-- No problem 通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from t_sys_user where pk_user_id = #{pkUserId,jdbcType=VARCHAR}
    </delete>
    <!--No problem 通过用户id用户角色表的数据-->
    <delete id="deleteUserRoleByUserId">
        delete from re_user_role where fk_user_id = #{fkUserId,jdbcType=VARCHAR}
    </delete>
    <!--No problem 查询所有行数据-->
    <select id="selectAll" resultType="com.hjy.system.entity.TSysUser">
        select * from t_sys_user
    </select>
    <!--No problem 通过用户id查询该用户所拥有的角色的id-->
    <select id="selectUserRoleByUserId" resultType="java.lang.String" parameterType="java.lang.String">
        select fk_role_id from re_user_role where fk_user_id = #{fkUserId,jdbcType=VARCHAR}
    </select>
    <!--No problem 通过用户名查询用户信息-->
    <select id="selectUserByUsername" resultType="com.hjy.system.entity.TSysUser"
            parameterType="java.lang.String">
        select * from t_sys_user where username = #{username,jdbcType=VARCHAR}
    </select>
    <!--查询所有行数据-->
    <select id="selectAll" resultType="com.hjy.system.entity.TSysUser">
        select * from "hjy_website"."t_sys_user"
    </select>
    <!--No problem 查询所有的用户名-->
    <select id="selectAllUsername" resultType="java.lang.String">
        select username from t_sys_user
    </select>
</mapper>